# After you add a rule, sort this file with `bundle exec rubocop-gusto sort config/default.yml`

AllCops:
  TargetRubyVersion: <%= RbConfig::CONFIG['RUBY_API_VERSION'] %>
  MaxFilesInCache: 100000
  Exclude:
    - './.[!.]*' # ignore all dotfiles
    - './.[!.]*/**/*' # ignore all dot directories
    - 'config/boot.rb'
    - 'db/**/*schema.rb'
    - 'db/seeds{.rb,/**/*}'
  DisplayCopNames: true
  NewCops: disable
  SuggestExtensions: false

Bundler/OrderedGems:
  ConsiderPunctuation: true

Layout/BlockAlignment:
  EnforcedStyleAlignWith: start_of_block

Layout/CaseIndentation:
  EnforcedStyle: end
  IndentOneStep: false

Layout/DotPosition:
  Enabled: true
  # We use the (default) leading dot position for Sorbet and IDE compatibility.
  EnforcedStyle: leading

Layout/EmptyLineAfterGuardClause:
  Enabled: true

Layout/EmptyLineAfterMagicComment:
  Enabled: true

Layout/EmptyLineBetweenDefs:
  AllowAdjacentOneLineDefs: true

Layout/EmptyLinesAroundAttributeAccessor:
  Enabled: false

Layout/EmptyLinesAroundClassBody:
  EnforcedStyle: no_empty_lines

Layout/EmptyLinesAroundModuleBody:
  EnforcedStyle: no_empty_lines

Layout/EndAlignment:
  EnforcedStyleAlignWith: start_of_line

Layout/ExtraSpacing:
  AllowForAlignment: true

Layout/FirstArgumentIndentation:
  EnforcedStyle: consistent

Layout/FirstArrayElementIndentation:
  EnforcedStyle: consistent

Layout/FirstArrayElementLineBreak:
  Enabled: true

Layout/FirstHashElementIndentation:
  EnforcedStyle: consistent

Layout/FirstHashElementLineBreak:
  Enabled: true

Layout/FirstMethodArgumentLineBreak:
  Enabled: true

Layout/FirstMethodParameterLineBreak:
  Enabled: true

Layout/LineLength:
  # TODO: Pick some maximum like 200 to start with
  Enabled: false

Layout/MultilineArrayBraceLayout:
  EnforcedStyle: symmetrical

Layout/MultilineAssignmentLayout:
  Enabled: false

Layout/MultilineHashBraceLayout:
  EnforcedStyle: symmetrical

Layout/MultilineMethodCallBraceLayout:
  EnforcedStyle: symmetrical

Layout/MultilineMethodCallIndentation:
  EnforcedStyle: indented

Layout/MultilineMethodDefinitionBraceLayout:
  EnforcedStyle: symmetrical

Layout/MultilineOperationIndentation:
  EnforcedStyle: indented

Layout/ParameterAlignment:
  EnforcedStyle: with_fixed_indentation

Layout/SpaceAroundEqualsInParameterDefault:
  Enabled: true

Layout/SpaceAroundMethodCallOperator:
  Enabled: true

Layout/SpaceInLambdaLiteral:
  EnforcedStyle: require_space

Lint/AmbiguousBlockAssociation:
  Enabled: true
  Exclude:
    - '**/spec/**/*'

Lint/EmptyFile:
  Enabled: true

Lint/EnsureReturn:
  Enabled: true

Lint/RaiseException:
  Enabled: true

Lint/SelfAssignment:
  Severity: error

Lint/SharedMutableDefault:
  Enabled: true

Lint/StructNewOverride:
  Enabled: false

Lint/UnexpectedBlockArity:
  Enabled: true
  Severity: error

Lint/UnusedMethodArgument:
  AllowUnusedKeywordArguments: true

Lint/UselessConstantScoping:
  Enabled: true

Lint/Void:
  Severity: error

Metrics/AbcSize:
  Enabled: false

Metrics/BlockLength:
  Enabled: false

Metrics/ClassLength:
  Enabled: true
  Max: 2500

Metrics/CyclomaticComplexity:
  Enabled: false

Metrics/MethodLength:
  Enabled: false

Metrics/ModuleLength:
  Enabled: false

Metrics/PerceivedComplexity:
  Enabled: false

Naming/AccessorMethodName:
  Enabled: false

Naming/MethodParameterName:
  Enabled: false

Naming/PredicatePrefix:
  # Dropping the predicate can make code less understandable.
  # For example, `is_foo?` and `has_foo?` have different semantics,
  # but this rule would suggest they both be renamed `foo?`.
  Enabled: false

Naming/RescuedExceptionsVariableName:
  Enabled: false

Naming/VariableNumber:
  Enabled: false

Security/YAMLLoad:
  Enabled: true

Style/AccessorGrouping:
  Enabled: false

Style/Alias:
  Enabled: true
  EnforcedStyle: prefer_alias_method

Style/AsciiComments:
  Enabled: true

Style/AutoResourceCleanup:
  Enabled: true

Style/BlockDelimiters:
  EnforcedStyle: line_count_based
  AllowedMethods:
    - it
    - expect
    - change

Style/ClassAndModuleChildren:
  # TODO: will this make our code safer? is it okay to use?
  # https://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Style/ClassAndModuleChildren
  # EnforcedStyle: compact
  Enabled: false

Style/CollectionMethods:
  Enabled: false

Style/CommandLiteral:
  # This cop Style/CommandLiteral protects us from accidentally using backticks for strings quotes.
  # Forcing the use of %x() should make it more obvious visually where the command literals are.
  # This is easy to miss, but is a bug-without-test-failures at best and an opportunity for an
  # attack vector at worst.
  Enabled: true
  EnforcedStyle: percent_x

Style/ConditionalAssignment:
  EnforcedStyle: assign_inside_condition
  IncludeTernaryExpressions: false

Style/Documentation:
  Enabled: false

Style/DoubleNegation:
  Enabled: false

Style/EmptyElse:
  Enabled: false

Style/EmptyMethod:
  EnforcedStyle: expanded

Style/ExpandPathArguments:
  Exclude:
    - '**/bin/*'

Style/ExponentialNotation:
  Enabled: true

Style/FormatString:
  Enabled: false

Style/FormatStringToken:
  EnforcedStyle: template

Style/FrozenStringLiteralComment:
  EnforcedStyle: always
  Enabled: true

# This can make lines longer and impair readability
Style/GuardClause:
  Enabled: false

Style/HashEachMethods:
  Enabled: true

Style/HashSyntax:
  EnforcedStyle: ruby19_no_mixed_keys

Style/HashTransformKeys:
  Enabled: false

Style/HashTransformValues:
  Enabled: false

Style/IfInsideElse:
  Enabled: false

Style/IfUnlessModifier:
  Enabled: false

Style/ImplicitRuntimeError:
  Enabled: false

Style/Lambda:
  EnforcedStyle: literal

Style/LambdaCall:
  Enabled: false

Style/MethodCallWithArgsParentheses:
  IgnoreMacros: true
  AllowedMethods:
    # Ruby
    - puts
    - raise
    - fail
    - exit
    - sleep
    # Rails
    - render
    - redirect_to
    - authorize!
    # Code loading
    - require
    - require_relative
    - require_dependency
    - load
    # Bundler
    - gem
    - ruby
    - source
    # Rspec
    - it
    - describe
    - context
    - to
    - not_to
    - to_not
    - be
    - be_a
    - be_an
    - be_between
    - be_falsey
    - be_kind_of
    - be_instance_of
    - be_truthy
    - be_within
    - eq
    - eql
    - end_with
    - include
    - match
    - raise_error
    - respond_to
    - start_with
    # Rake
    - task
    # Gem
    - add_dependency
    - add_development_dependency
    # Grape
    - resources
    - params
    - requires
    - desc
    - optional
    - get
    - post
    - put
    - delete
    # ActiveAdmin
    - belongs_to
    - sidebar
    - action_item
    - member_action
    - page_action
    - active_admin_form_for
    - h1
    - h2
    - h3
    - h4
    - register
    - register_page
    - index
    - column
    - humanized_column
    - panel
    - attributes_table_for
    - table_for
    - row
    - columns
    - div
    - span
    - para
    - text_node
    # fields.
    - input
    - action

Style/MethodCalledOnDoEndBlock:
  Enabled: false

Style/MissingElse:
  Enabled: false

Style/ModuleFunction:
  # Sorbet does not enforce the singleton version of module function methods: https://github.com/sorbet/sorbet/issues/8531
  # Even if did, requiring the code to typecheck both paths would be a pain for maintainability.
  # Also, it's better for the code to be explicit about which version of the method is being called,
  #  as it is one fewer decision the downstream developer has to make.
  Enabled: true
  EnforcedStyle: forbidden

Style/MultilineBlockChain:
  # Disabled in Standard https://github.com/standardrb/standard/blob/main/config/base.yml#L1431
  Enabled: false

Style/MultipleComparison:
  Enabled: false

Style/NegatedIf:
  Enabled: false

Style/Next:
  Enabled: false

Style/NumericPredicate:
  Enabled: false

Style/OptionHash:
  Enabled: false

Style/OptionalBooleanParameter:
  AllowedMethods:
    - respond_to_missing?
    - perform # Sidekiq does not support keyword arguments.

Style/PercentLiteralDelimiters:
  PreferredDelimiters:
    default: '()'
    '%i': ()
    '%I': ()
    '%r': ()
    '%w': ()
    '%W': ()

Style/RaiseArgs:
  Enabled: true

Style/RedundantSelf:
  Enabled: false

Style/RegexpLiteral:
  Enabled: false

Style/RescueStandardError:
  Enabled: true
  AutoCorrect: true
  EnforcedStyle: 'implicit'

Style/Send:
  Enabled: true

Style/SingleLineBlockParams:
  Enabled: false

Style/SlicingWithRange:
  Enabled: false

Style/SpecialGlobalVars:
  Enabled: true

Style/StringLiterals:
  EnforcedStyle: double_quotes

Style/StringMethods:
  Enabled: true

Style/SymbolArray:
  Enabled: false

Style/SymbolProc:
  Enabled: true

Style/TernaryParentheses:
  Enabled: false

Style/TrailingCommaInArguments:
  Enabled: true
  EnforcedStyleForMultiline: no_comma # matches Standard  https://github.com/standardrb/standard/blob/250b306cd44bea509d20023d9ab63170da67c815/config/base.yml#L1857

Style/TrailingCommaInArrayLiteral:
  Enabled: true
  EnforcedStyleForMultiline: consistent_comma

Style/TrailingCommaInHashLiteral:
  Enabled: true
  EnforcedStyleForMultiline: consistent_comma

Style/TrivialAccessors:
  IgnoreClassMethods: true

Style/WhileUntilModifier:
  Enabled: false

Style/WordArray:
  Enabled: false

Style/YodaCondition:
  # Be cautious, the correction is not functionally identical
  Enabled: false
